@import "./common/common.scss";

#container {
	margin: 35px auto 0;
	padding-bottom: 100px;
	width: 1024px;

	.content_mid {
		margin: 0 auto;
		padding: 0 60px;
		width: 680px;
		background: #FAFAFA;

		video + div {
			text-align: center;

			input {
				float: left;
				margin: 15px 40px 0 0;
				padding: 0 55px;
				height: 32px;
				color: #FFF;
				font-size: 18px;
				line-height: 32px;
				background: #91CEBE;
				overflow: hidden;
				transition: background 0.2s ease-in 0;
				border: none;
				cursor: pointer;

				&:hover {
					color: #FFF;
					background: #019875;
				}
			}
		}
	}
}