@import "./common/common.scss";

#content {
	margin: 35px auto 20px;
	width: 1024px;
	background: #FAFAFA;
	overflow: hidden;

	h1 {
		display: inline-block;
		margin: 0 40px;
		padding: 0 20px;
		height: 40px;
		color: #FFF;
		font-size: 24px;
		font-weight: 400;
		line-height: 40px;
		background: #91CEBE;
	}

	ul {
		margin: 40px;

		li {
			border-bottom: 1px dashed #E0E0E0;

			p {
				span {
					&:last-of-type {
						float: right;
					}
				}
			}
		}
	}


	.pagination {
		margin: 20px auto;
		line-height: 30px;
		text-align: center;

		a {
			margin: 0 10px 10px 0;
			padding: 5px 10px;
			height: 30px;
			line-height: 30px;
			color: #FFF;
			background: #91CEBE;

			&:hover,
			&.current {
				background: #009875;
			}
		}
	}

	form {
		padding: 0 40px;

		label {
			display: block;
			margin: 20px 0;
		}

		input {
			float: right;
			margin: 20px;
			margin-right: 0;
		}
	}
}