html {
    height: 100%;
    overflow: hidden;

    body {
        height: 100%;
        font-family: "Noto Sans", sans-serif;
        font-size: 13px;

        #wrapper {
            height: 100%;

            .form-control {
                @include box-shadow(none);
            }

            a {
                text-decoration: none;

                &:active,
                &:focus,
                &:hover {
                    text-decoration: none;
                }
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                }
            }
        }

        #toast-container > div {
            @include box-shadow(none);
        }
    }
}